.root {
    background: var(--transparent-3);
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s ease-out;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &:hover {
        background: var(--transparent-5);
    }
}

.icon {
    color: var(--base-colors-primary1);
}